Library
Library/*
Logs
Logs/*
BuildOutPutPath
BuildOutPutPath/*
*.userprefs
Temp
obj
/*.suo
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
Builds/
Thumbs.db.meta
.vs/
Thumbs.db
*.suo
/*.csproj
/*.sln
*.ilk
*.user
*.sdf
*.opendb
*.ipch
*.DS_Store
.idea